*{
    margin: 0;
    padding: 0;
}
/* header style */
header{
    background-image: url('../images/donation0.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgb(176, 176, 176);
    background-blend-mode: multiply;
    color: #ffff;

}
.title{
    margin: 200px 350px;
}
.header-title{
    font-size: 60px;
    margin-bottom: 10px;
    font-family: inter;
}
.header-description{
    font-size: 22px;
    margin-bottom: 10px;
}
.primary-btn{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #FF5959;
    margin: 10px 0px;
}

/* Section Style */
section{
    margin-top: 120px;
}

/* Donate Today Style */
.donate-today{
    text-align: center;
    margin: 150px 400px 0px;
}
.donate-today-title{
    font-size: 45px;
    font-family: inter;
    font-weight: 700px;
}
.donate-today-description{
    margin: 10px 10px;
}
.donate-today ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.donate-today ul li{
    list-style: none;
    padding: 15px 5px;
    background-color: #d5d5d5;
    font-weight: bold;
}
.donate-today .select-ul{
    border: 1px solid black;
    color: #FF5959;
}
.donate-today .regular-font{
    margin: 10px 10px;
}
.regular-font{
    font-size: 16px;
}

/* Section Style */
.donate-plan{
 text-align: center;
}
.donate-plan-descriptions{
    font-size: 16px;
    margin-bottom: 50px;
}
.donate-plan-box{
    display: flex;
    margin: 0 200px;
    gap: 40px;
    text-align: left;

}
.donate-item{
    background: rgba(79, 157, 166, 0.1);
    padding: 50px 0;
}
.donate-plan-title{
    margin: 10px 0;
}
.donate-plan-description{

}
/* Donation Blg */
.donations-blog{
    margin: 150px 200px;
}
.donation-blog-one{
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}
.donation-blog-two{
    display: flex;
    gap: 30px;
}
.img-class{
    width: 50%;
    text-align: right;
}
.donation-img{
    width: 100%;
}
.donation-description{
    width: 50%;
}
/* update style */
.update{
    
}
